<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maserhe.mapper.DiscussPostMapper">

    <sql id="selectFields">
        id, user_id, title, content, type, status, create_time, comment_count, score, image_url
    </sql>

    <!--使用了主键自增，这里不用写 id-->
    <sql id="insertFields">
        user_id, title, content, type, status, create_time, comment_count, score, image_url
    </sql>
    <!--查询 sql-->

    <select id="getAllDiscussPost" resultType="discusspost">
        select <include refid="selectFields"></include>
        from discuss_post
        where status != 2
        <if test="userId != 0">
            and user_id = #{userId}
        </if>
        order by type desc, create_time desc
        limit #{offset}, #{limit}
    </select>

    <select id="getDiscussPostRows" resultType="int">
        select count(id)
        from discuss_post
        where status != 2
        <if test="userId != 0">
            and user_id = #{userId}
        </if>

    </select>

    <select id="selectDiscussPostById" resultType="discusspost">
        select <include refid="selectFields"></include>
        from discuss_post
        where id = #{id}
    </select>

    <insert id="insertDiscussPost">
        insert into discuss_post (<include refid="insertFields"></include>)
        values (#{userId}, #{title}, #{content}, #{type}, #{status}, #{createTime}, #{commentCount}, #{score}, #{imageUrl})
    </insert>

    <update id="updateDiscussPost" parameterType="date">
        update  discuss_post
        set create_time = #{date}
    </update>

</mapper>